.body{
  background-image: url("https://images.pexels.com/photos/708440/pexels-photo-708440.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  .loginPage {
    &_contents {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      &_title {
        margin-top: 12vh;
        color: black;
        font-size: 40px;
      }
      &_btn {
        display: block;
        max-width: 400px;
        padding: 20px;
        margin: 0 auto;
        border-radius: 30px;
        background: #50bbfd;
        color: #fff;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,.27);

      }
    }
  }

}  